<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
      package="com.hanhuy.android.keepshare"
      android:versionCode="23"
      android:versionName="4.1.0">

    <!-- used to save file selection from a content provider -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21"/>
    <application
            android:theme="@style/AppTheme"
            android:name=".Application"
            android:label="@string/appname"
            android:taskAffinity="com.hanhuy.android.keepshare.browsing"
            android:icon="@drawable/ic_launcher">
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
        <activity android:name=".SetupActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/AppTheme"
                  android:label="@string/appname">
        </activity>
        <activity android:name=".PINSetupActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/AppTheme"
                  android:label="@string/appname">
        </activity>
        <activity android:name=".ShareActivity"
                  android:theme="@style/AppTheme.Dialog"
                  android:allowTaskReparenting="true"
                  android:windowSoftInputMode="adjustResize"
                  android:launchMode="singleTop"
                  android:excludeFromRecents="true"
                  android:taskAffinity="com.hanhuy.android.keepshare.share"
                  android:label="@string/appname">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AccessibilitySearchActivity"
                  android:theme="@style/AppTheme.Dialog"
                  android:windowSoftInputMode="adjustResize"
                  android:allowTaskReparenting="true"
                  android:launchMode="singleTop"
                  android:excludeFromRecents="true"
                  android:taskAffinity="com.hanhuy.android.keepshare.fill_search"
                  android:label="@string/appname">
        </activity>
        <activity android:name=".BrowseActivity"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EntryViewActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchableActivity"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".IMESearchActivity"
                  android:allowTaskReparenting="true"
                  android:launchMode="singleTop"
                  android:taskAffinity="com.hanhuy.android.keepshare.ime_search"
                  android:excludeFromRecents="true"
                  android:theme="@style/AppTheme.Dialog"/>
        <activity android:name=".PINEntryActivity"
                  android:noHistory="true"
                  android:theme="@style/AppTheme"/>
        <provider android:name=".SearchProvider"
                  android:authorities="@string/search_suggest_authority"
                  android:readPermission="android.permission.GLOBAL_SEARCH"
                  android:exported="true"
                  android:label="@string/appname"/>
        <service android:name=".PasswordIME"
                 android:label="@string/appname"
                 android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im"
                       android:resource="@xml/ime"/>
        </service>

        <service android:name=".PINHolderService"
                 android:exported="false"/>
        <service android:name=".DatabaseSaveService"
                 android:exported="false"/>
        <service android:name=".CredentialHolderService"
                 android:exported="false"/>
        <service android:name=".AccessibilityService"
                 android:label="@string/accessibility_service_label"
                 android:enabled="@bool/v18plus"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
